body {
  margin: 0;
  padding: 0;
  background-image: url("src/assets/preguntadosbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.app-page {
  display: flex;
  width: 100vw;
  min-height: 100vh;   
}

.side-area {
  flex: 1;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(2px);
}

.center-area {
  flex: 0 0 600px;
  background-color: rgb(54, 3, 65);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  box-shadow: 0 0 20px rgb(67, 5, 78);
}

.colorbar {
  width: 100%;
  height: 15px;
  object-fit: cover;
}

.top-bar {
  margin-bottom: 20px;
}

.bottom-bar {
  margin-top: 20px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: flex-start;

  padding: 40px 20px;
  padding-top: 60px; 
}

.error-text {
  color: red;
  font-weight: bold;
}

.title {
  font-size: 4rem;
  font-weight: 800;
  color: rgba(221, 214, 214, 0.995);
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.title-divider {
  width: 200px;
  height: 3px;
  background: rgba(255, 255, 255, 0.15);
  margin: 8px auto 25px auto;
  border-radius: 3px;
}
